[2012-11-28 23:56] neomatrix369 opened #1 "Test issue created!"
Test issue.

[2012-12-05 21:23] Grundlefleck opened #2 "License information is lacking"
_Original author: Grundlefleck@gmail.com (December 21, 2009 00:27:57)_

No source files from the codebase include a license header. This should be
changed to include the ASF license snippet. Should also include a directory
with the various licenses of the library projects used, e.g. ASM,
classpath-explorer.

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?id=1_

[2012-12-05 21:23] #2 closed, assigned to Grundlefleck

[2012-12-05 21:23] Grundlefleck opened #3 "Package structure is still hungover from uni assignment"
_Original author: Grundlefleck@gmail.com (December 21, 2009 00:29:50)_

The source all resides under the package prefix se.mutabilitydetector. This
should be changed to something a bit more standard, org instead of se
should do it.

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?id=2_

[2012-12-05 21:23] #3 closed, assigned to Grundlefleck

[2012-12-05 21:23] Grundlefleck opened #4 "java.lang.String and java.lang.Integer are reported as not immutable."
_Original author: Grundlefleck@gmail.com (December 21, 2009 00:39:30)_

java.lang.String is not reported as immutable because it lazily initialises
a field, which is therefore not declared as final. This could be quite a
tricky thing to detect correctly. I believe an adequate way to detect this
pattern is:
 when a field is not private
  find where it can be reassigned
    check it can only be assi

[2012-12-05 21:23] Grundlefleck opened #5 "Subclass will not be rendered mutable when superclass is definitely not immutable"
_Original author: Grundlefleck@gmail.com (December 23, 2009 00:38:41)_

Given the following classes:

{{{
public class MutableSupertype {
    public int mutableField;

[code]

}

final class ImmutableSubtypeOfMutableSupertype extends MutableSupertype {
    private final int immutableField = 2;
    public ImmutableSubtypeOfMutableSupertype(int immutableField) {
        super(immutableField);
    }

[2012-12-05 21:24] Grundlefleck opened #6 "Help is printed twice"
_Original author: Grundlefleck@gmail.com (April 08, 2010 12:09:44)_

<b>What steps will reproduce the problem?</b>
1. run MutabilityDetector with the -help option

<b>What is the expected output? What do you see instead?</b>

Usage is printed once, instead, it is printed twice.

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?id=5_

[2012-12-05 21:24] #6 closed, assigned to Grundlefleck

[2012-12-05 21:24] Grundlefleck opened #7 "Inconsistent formatting of class names in output."
_Original author: Grundlefleck@gmail.com (April 08, 2010 13:39:57)_

Running over a codebase appears to produce inconsistent formatting with
regards to class names. For example:

org.mutabilitydetector.MutabilityCheckerFactory is MAYBE
org/mutabilitydetector/benchmarks/inheritance/ImmutableSupertype is MAYBE

(not slashes vs. dots)

_Original issue: http://code.google.com/p/mutability-detector/iss

[2012-12-05 21:24] #7 closed, assigned to Grundlefleck

[2012-12-05 21:24] Grundlefleck opened #8 "Should be able to specify which classes to report on from the command line."
_Original author: Grundlefleck@gmail.com (July 24, 2010 19:55:54)_

Currently the command line allows specifying a '-match' argument. This will will report on all the classes which affect the result for matched classes. There is also the '-report' flag, which will report all results which match the given result. There should be a third option which will report only those classes which match a list

[2012-12-05 21:24] #8 closed, assigned to Grundlefleck

[2012-12-05 21:24] Grundlefleck opened #9 "Setting private field on a different instance of self type renders class as mutable (e.g. BigDecimal)"
_Original author: Grundlefleck@gmail.com (August 10, 2010 00:44:29)_

The following class (simplifying the characteristics of java.math.BigDecimal) is reported as mutable:

&lt;verbatim&gt;
public class ImmutableButSetsPrivateFieldOfInstanceOfSelf {

[code]

}
&lt;/verbatim&gt;

The class above is immutable. It is reported as mutable because the field 'myField' is reassigned outwith the constructo

[2012-12-05 21:24] Grundlefleck opened #10 "OutOfMemoryError in PermGen space"
_Original author: Grundlefleck@gmail.com (September 26, 2010 17:42:22)_

The problem can be reproduced using Sun JDK 1.6.12, running MutabilityDetector on rt.jar.

This can be worked around by using the VM argument &quot;-XX:MaxPermSize=256m&quot;, however, it just shouldn't happen.

The likely suspect is the AbstractTypeToFieldChecker, which loads classes to find out if an assigned type is abstra

[2012-12-05 21:24] #10 closed, assigned to Grundlefleck

[2012-12-05 21:24] Grundlefleck opened #11 "Assertion mechanism should allow for dependency on other types being immutable."
_Original author: Grundlefleck@gmail.com (November 06, 2010 14:24:57)_

The 1.6 release of JodaTime (and the trunk version) contains classes with Javadoc comments such as:

&quot;LocalDateTime is thread-safe and immutable, provided that the Chronology is as well.&quot;

When calling MutabilityAssert.assertImmutable(LocalDateTime.class) the test fails, with the message:

&quot;Field [iChronology] c

[2012-12-05 21:25] #11 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #12 "Catastrophic failures will not cause test to fail."
_Original author: GrahamAl...@gmail.com (April 15, 2011 12:50:44)_

<b>What steps will reproduce the problem?</b>
1. Ensure an old version of asm (e.g. v1.4) on the classpath.
2. Make a call to MutabilityAssert.isImmutable() with a mutable class (e.g. java.util.List)
3. Run the unit test, and observe that it passes without problem.

<b>What is the expected output? What do you see instead?</b>
An e

[2012-12-05 21:25] #12 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #13 "The packaged jar will be incompatible with the vast majority of project setups."
_Original author: Grundlefleck@gmail.com (April 17, 2011 10:56:53)_

Mutability Detector uses features of Hamcrest 1.2 which were not available in Hamcrest 1.1. If Hamcrest 1.1. is on the classpath before 1.2, there will be exceptions thrown within MutabilityAssert.assertX methods (along the lines of NoSuchMethodError for org.hamcrest.Matcher#describeMismatch).

This is compounded by the fact that

[2012-12-05 21:25] #13 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #14 "Command line app fails with a NPE when run against rt.jar (v1.6u12)"
_Original author: Grundlefleck@gmail.com (April 24, 2011 22:01:11)_

<b>What steps will reproduce the problem?</b>
1. Run 'java -jar MutabilityDetector -cp ${JAVA_HOME}/lib/rt.jar&quot;

The application will not complete analysis and report for the classes, but will instead abort prematurely with an unhandled NullPointerException

_Original issue: http://code.google.com/p/mutability-detector/issue

[2012-12-05 21:25] #14 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #15 "An analysis error will occur when field is reassigned to newed up object."
_Original author: Grundlefleck@gmail.com (April 26, 2011 21:14:11)_

The following source code:

{{{
public class MutableByAssigningFieldToNewedUpObject {
    private String changeMe = &quot;Begin like this&quot;;

[code]

}
}}}

Will cause an unhandled error during analysis (due to an NPE from the SetterMethodChecker).

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?i

[2012-12-05 21:25] #15 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #16 "Typo in FinalClassChecker"
_Original author: motlin (July 08, 2011 18:36:05)_

&quot;Is not declared final, and thus may be immutable.&quot;

should say mutable

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?id=15_

[2012-12-05 21:25] #16 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #17 "Distinguish between Immutable and Effectively Immutable"
_Original author: Grundlefleck@gmail.com (July 09, 2011 17:40:14)_

The following class is effectively immutable:

{{{
public final class EffectivelyImmutable {
    private String field;
    public EffectivelyImmutable(String field) {
        this.field = field;
    }

[code]

}
}}}

This means that to be used in multi threaded code, extra care has to be taken to publish the reference safely. This

[2012-12-05 21:25] #17 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #18 "Correctly analyse the rule "don't allow subclassing""
_Original author: Grundlefleck@gmail.com (November 15, 2011 22:14:36)_

Currently, the analysis for this rule only checks whether the class has the final modifier or not. There is at least one other way to prevent subclassing, that is to only have private constructors. The analysis should check for this, passing the rule if at least one is true.

If leaving off the final modifier, the analysis for

[2012-12-05 21:25] #18 closed, assigned to Grundlefleck

[2012-12-05 21:25] Grundlefleck opened #19 "Correctly analyse array field mutation"
_Original author: Grundlefleck@gmail.com (November 15, 2011 22:34:46)_

Currently the following class will be called mutable:

public final class ImmutableButHasUnmodifiedArrayAsField {
    private final int[] unmodifiedArray;

[code]

}

However, this class is immutable (effectively immutable if the field is not marked final). It is ensuring exclusive access to the mutable components (including t

[2012-12-05 21:26] Grundlefleck opened #20 "Improve unit test error message to separate failure reasons from allowed reasons"
_Original author: Grundlefleck@gmail.com (November 16, 2011 21:09:36)_

Currently a unit test which has allowed reasons will format the failure message with no indication of which reasons have been suppressed. The output should separate these, allowing a user to easily see which reasons are allowed.

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?id=19_

[2012-12-05 21:26] #20 closed, assigned to Grundlefleck

[2012-12-05 21:26] Grundlefleck opened #21 "Cannot use an implementation of org.hamcrest.Matcher in unit tests"
_Original author: Grundlefleck@gmail.com (November 22, 2011 21:24:15)_

A copy of hamcrest is bundled with the Mutability Detector jar. Like the other dependencies, this is repackaged into the org.mutabilitydetector namespace. Unfortunately, the types in the signature of MutabilityAssert.assertX have also been repackaged. This means that users have to implement org.mutabilitydetector...org.hamcres

[2012-12-05 21:26] #21 closed, assigned to Grundlefleck

[2012-12-05 21:26] Grundlefleck opened #22 "Matching effectivelyImmutable classes does not permit allowing reasons for mutability."
_Original author: Grundlefleck@gmail.com (November 23, 2011 21:00:04)_

<b>What steps will reproduce the problem?</b>
1. Write a class that is mutable for a single reason, e.g. by allowing subclassing, and effectively immutable by having a non-final field
2. Write a test that it is effectively immutable, allowing subclassing
3. Run test, it will fail

<b>What is the expected output? What do you se

[2012-12-05 21:26] #22 closed, assigned to Grundlefleck

[2012-12-05 21:26] Grundlefleck opened #23 "Cyclic references will cause a stack overflow"
_Original author: Grundlefleck@gmail.com (January 04, 2012 22:09:36)_

Analysis still barfs on cyclic references. For example, analysing a set of classes like:

class TwoFields {
  FieldA a;
  FieldB b;
  // constructor that assigns
}

class FieldA {
  FieldB b;
  // constructor that assigns
}

class FieldB {
  FieldA a;
  // constructor that assigns
}

Will cause a stack overflow.

When FieldA is

[2012-12-05 21:26] #23 closed, assigned to Grundlefleck

[2012-12-05 21:26] Grundlefleck opened #24 "Create a findbugs plugin which analyses classes annotated with jsr305's @Immutable"
_Original author: Grundlefleck@gmail.com (January 12, 2012 21:37:21)_

A custom plugin detector which could replace findbugs' (somewhat lacking) built in analysis is something I've been asked about in a couple of places now (LJC Open Conference, LJC Code Share). It would be very useful.

_Original issue: http://code.google.com/p/mutability-detector/issues/detail?id=23_

[2012-12-05 21:26] #24 closed, assigned to Grundlefleck

[2012-12-05 21:26] Grundlefleck opened #25 "Analysis causes classes to be loaded"
_Original author: Grundlefleck@gmail.com (March 03, 2012 17:27:32)_

Parts of the analysis use ASM's SimpleVerifier class, which attempts to load classes to perform &quot;isAssignableFrom&quot; logic. Currently MutabilityDetector goes to some effort to ensure a specific classloader is used, which is aware of the classpath specified by the user (e.g. from the cli, or as part of the FindBugs plugin)

[2012-12-05 21:26] Grundlefleck opened #26 "No obvious way to use Collections.umodifiable*"
_Original author: mahow...@gmail.com (March 07, 2012 15:32:55)_

<b>What steps will reproduce the problem?</b>

I have a class that has just one field, and that field can't be changed, and it's assigned in the constructor to be an immutable colllection.  I don't have an obvious way though to prove that with this.  Obviously, static analysis of a class may be difficult/impossible without the actual

[2012-12-05 21:27] Grundlefleck opened #27 "FindBugs plugin does not change analysis result when class is made immutable"
_Original author: Grundlefleck@gmail.com (April 19, 2012 18:49:56)_

As reported by email (name withheld)

To reproduce
1. create a project and write a simple class that is mutable.
2. run FindBugs, the class is detected as mutable as expected.
3. fix the class so that it now is immutable.
4. optionally clear the Find Bugs Markers, Refresh, Clean...
5. rerun FindBugs, the class is (wrongly) still

[2012-12-05 21:27] #27 closed, assigned to Grundlefleck

[2012-12-05 21:27] Grundlefleck opened #28 "Immutable class is being reported as mutable"
_Original author: prayn...@gmail.com (April 28, 2012 19:44:32)_

This class is immutable (note the defensive copies on Date constructor set and on get):

public final class Claim {
    public final double amount;
    private final Date failureDate;

[code]

}

It should be reported as immutable, but Mutability Detector _incorrectly_ says it's NOT_IMMUTABLE.

 For example, this class is analysed as

[2012-12-05 21:27] Grundlefleck opened #29 "Migrate from Google Code to GitHub"
_Original author: Grundlefleck@gmail.com (July 19, 2012 20:43:27)_

It has been suggested that I move the project from googlecode to GitHub to improve the likelihood of collaboration.

I'm open to the idea, but a bit wary of the problems it may cause:
- transferring wiki/issues etc
- confusion for users having two sites (or the problem of closing the google code version altogether and having old l

[2012-12-05 21:27] Grundlefleck opened #30 "Add hamcrest as a maven dependency instead of repackaging it"
_Original author: headcras...@gmail.com (July 21, 2012 13:27:47)_

Many projects are using hamcrest already, so the repackaged one found in the mutability detector artifact is an unnecessary overhead. Please do not repackage it, but instead simply add a runtime dependency to your POM. That way, maven will safely provide the needed classes under the hood, and keep the user free from duplicate binar

[2012-12-05 21:27] #30 closed, assigned to nobody

[2012-12-05 21:27] Grundlefleck opened #31 "Override MutabilityAssert.assertInstancesOf to take an Iterable of allowed reasons"
_Original author: Grundlefleck@gmail.com (October 26, 2012 12:34:07)_

I tried to use JUnit's @Theory tests to have mutability assertions for several classes. Each had various different allowed reasons (of type Matcher&lt;MutableReasonDetail&gt;). Each datapoint then consisted of the class to test, plus the allowed reason(s) for that class.

For reasons I can't remember, Matchers.allOf(firstReason

[2012-12-05 21:27] #31 closed, assigned to Grundlefleck

[2012-12-05 21:27] Grundlefleck opened #32 "Minor typo in JavaDocs - a"
_Original author: Scott.E....@gmail.com (November 21, 2012 16:19:19)_

<b>What steps will reproduce the problem?</b>
1. View the JavaDocs at https://mutability-detector.googlecode.com/svn/trunk/MutabilityDetector/trunk/javadoc/latest/org/mutabilitydetector/unittesting/MutabilityAssert.html
2. Read the section on &quot;Configuring the assertion&quot;
3. Read sample code that says &quot;assertInstan

[2012-12-09 21:11] #32 closed, assigned to nobody

[2012-12-09 21:12] #1 closed, assigned to nobody

[2012-12-09 22:16] #29 closed, assigned to Grundlefleck

[2012-12-16 18:50] #26 closed, assigned to Grundlefleck

[2012-12-16 19:11] #28 closed, assigned to Grundlefleck

[2012-12-16 19:12] #9 closed, assigned to Grundlefleck

[2012-12-26 18:25] Grundlefleck opened #33 "Can Subclass checking is incorrect when inner class constructs instance of outer, immutable class"
The following class is considered mutable:

[code]

With the message:

[code]

If the call to `new OnlyPrivateConstructors()` is commented out, the analysis correctly calls this class immutable. This pattern is a common way of implementing the Builder pattern (as described in Effective Java, iirc). It should not render the outer class as immutable.

[2012-12-27 16:16] #33 closed, assigned to neomatrix369

[2012-12-31 15:21] neomatrix369 opened #34 "Maven compiler plugin-version issue (version 2.0.2 in pom.xml)"
When building the MutabilityDetector project via CLI (to investigate and fix issue #33), due to the maven compiler plugin version number of 2.0.2 in the pom.xml the below message was returned:

https://gist.github.com/4420590

Current pom.xml setting (see https://github.com/MutabilityDetector/MutabilityDetector/blob/master/pom.xml):

[code]

Changing the pom.xml to the below fixes the issue:

[cod

[2012-12-31 15:32] neomatrix369 opened #35 "Non-static inner classes, do they pose an issue?"
After fixing issue #33, a discussion about non-static inner classes lead to the below inquiry, @Grundlefleck recommended investigating further:

If the outcome of the investigation helps prove that the initial theory was correct about non-static classes being a problem, it will be considered an issue for further investigation and fixing.

[2012-12-31 15:39] neomatrix369 opened #36 "Getting started page for the Wiki (for developers and users)"
Issue #33 lead to the below discussion about a "How to get started page for both Developers and Users of Mutability Detector ?"

Initial suggestion from @neomatrix369

Response from @Grundlefleck

In essence the below Wiki page was referred to, where the changes will take place: https://github.com/MutabilityDetector/MutabilityDetector/wiki

Also consider updating to bring them in sync: http://muta

[2012-12-31 16:06] neomatrix369 opened #37 "Maven build failure due to multiple test failures"
Whilst fixing #33, there was a build failure with the maven build of @MutabilityDetector, due to multiple test failures, see gist https://gist.github.com/4420898.

Issue was temporarily resolved by building @MutabilityDetector by selecting the skip tests option in the maven build setting (Run Configuration).

On examining the tests, its appears these are minor typos in the expected aspect of the t

[2012-12-31 18:06] #34 closed, assigned to Grundlefleck

[2013-01-02 13:20] #37 closed, assigned to neomatrix369

[2013-03-05 20:20] Grundlefleck opened #38 "Unit tests do not work with sbt"
With a sbt-based Scala project, a unit test like so:

[code]

The test will work under IDEs, but will not work with "sbt test" from the command line. The standard Mutability Detector exception will be thrown, which will contain the trace:

[info]   Cause: java.io.IOException: Class not found
[info]   at org.mutabilitydetector.repackaged.org.objectweb.asm.ClassReader.readClass(ClassReader.java:484)

[2013-03-05 21:57] #38 closed, assigned to Grundlefleck

[2013-04-24 23:49] heri333 opened #39 "Add support for immutable collections of Google Guava"
[Google Guava](https://code.google.com/p/guava-libraries/) provides several immutable utility classes, for example [ImmutableList](http://docs.guava-libraries.googlecode.com/git-history/release/javadoc/com/google/common/collect/ImmutableList.html).

If there is an assignment to a final field in a constructor like

    this.foo = ImmutableList.of();

it is reported as

    org.mutabilitydetector.un

[2013-05-18 15:27] #36 closed, assigned to neomatrix369

[2013-08-27 20:55] Grundlefleck opened #43 "Allow clicking through to source of mutability reason"
Currently, when a unit test fails, it displays all the reasons a class is mutable. Each reason is printed with a location, the 'primary' source of mutability, for example, [Field: hash, Class: java.lang.String] for the hash field that can be reassigned. A user will have to read this then navigate to the file and field themselves.

Text output in test failure shown here:

![current_source_code_loca

[2013-08-27 21:04] Grundlefleck opened #44 "Allow writing a single test case which will scan the current classpath for all @Immutable classes"
Currently, if you want to start using Mutability Detector on your project, and you already have a lot of classes marked as `@Immutable`, you can either:
- use the FindBugs plugin to automatically detect them, in which case, you can't configure the assertion to suppress false positives
- add a unit test for every class, in which case, you have to spend a lot of tedious time writing new test methods

[2013-09-25 20:35] Grundlefleck opened #46 "Audit all code locations emitted and recommend whether it should be changed"
In issue #43 , one of the subtasks is 'an audit of all existing checkers, to make sure that they provide the most appropriate location for the reason (e.g. for reassigned fields, do we point to the field, or where it's reassigned?)'.

I think this is large enough to split into it's own task.

I suggest the following:
1. find all the potential errors that are raised across all checkers (you can do

[2013-10-19 08:20] marcgs opened #51 "Improve error message for unwrapped Collections"
Currently the error message for a Class having a collection as a field which is initialized in constructor is: "Attempts to wrap mutable collection type using a non-whitelisted unmodifiable wrapper method". This is misleading, since in this case nothing is getting wrapped at all.

The goal of this issue is to improve this error message to something like "Not wrapped collection type". This mutabili

[2013-10-19 08:40] marcgs opened #52 "Improve error message for Collections being wrapped without safe copy"
Currently the error message for a collection field being wrapped without a safe copy is "Attempts to wrap mutable collection type without safely performing a copy first". It would be useful to provide a hint how a safe copy can be performed for the current use case. For instance for a List this can be achieved with:

[code]

The goal of this issue is to improve the current error message with such

[2013-10-19 09:04] marcgs opened #53 "Consolidate similar mutability reasons"
There are a few cases where similar or redundant mutability reasons are reported Examples are:

a) ABSTRACT_TYPE_INHERENTLY_MUTABLE + CAN_BE_SUBCLASSED for abstract classes
b) PUBLISHED_NON_FINAL_FIELD + NON_FINAL_FIELD for published non final fields
c) FIELD_CAN_BE_REASSIGNED + NON_FINAL_FIELD for fields which are modified in a method

The goal of this issue is to:

1- Detect all cases where redu

[2014-03-18 18:15] seanjreilly opened #55 "Possible Java 8 issue"
I'm testing that each value in an enum is immutable. Here's a rough example:

[code]

Compiling and running in Java 7 works with no problems. However, when I try the same thing using Java 8 I get a big nasty error (stack trace included below).

[code]

[2014-03-21 16:41] #55 closed, assigned to nobody

[2014-07-08 14:36] seanjreilly opened #56 "Possible issue with java.time.Instant"
Hi,

I'm trying to add a test to ensure that a class is mutable, and the mutability detector seems to be crashing.

I've put the stack trace in a [gist](https://gist.github.com/seanjreilly/ea406fad59300c422c16).

The codebase is an open source Java 8 project, so you should be able to reproduce the issue fairly easily yourself. I've got it on its own branch (mutability-detector-bug) and the commit

[2014-07-14 18:47] #56 closed, assigned to nobody

[2014-07-14 21:38] seanjreilly opened #57 "java.util.Optional is considered mutable"
After looking at the test results once issue #56, I noticed this in one of the error messages from the test:

`Field can have a mutable type (java.util.Optional) assigned to it. [Field: cause, Class: com.equalexperts.logging.LogicalLogRecord]`

I think that instances of java.util.Optional should probably be considered immutable so long as the class they are referencing is immutable. It's not in my

[2015-04-16 21:25] sbilinski commented on #39
Any news regarding this issue? I could really use Guava collection support, but I'm not sure if I should start implementing it on my own.

[2015-04-17 13:01] Grundlefleck commented on #39
Hi @sbilinski, I've been keeping this issue around as something a new contributor could work on, but since there's interest in it, I'll bump the priority.

Are you more interested in contributing code to the project or in having it Just Work? I hope that doesn't sound "snippy", it's a genuine question, if you have a particular interest in contributing it, I'm more than happy to help towards that,

[2015-04-19 14:37] Grundlefleck commented on #57
It's been almost a year... but I think I've finally got around to building the mechanism to support this. All that's left is picking the testing API.
Outcome:
 - a `java.util.Optional` field is immutable if the contained element is immutable. Otherwise if it's a concrete type e.g. `Optional<Date>` or a generic type e.g. `Optional<A>`, it's mutable.
 - if you want to test that the class is immutabl

[2015-04-28 10:15] seanjreilly commented on #57
Hi. We are still using mutability detector, and we're very happy with it! We've coded around the limitations with Optional, but we'd love to be able to remove that. One question: I can't find a release newer than 0.9.2, which dates from before this issue... is there a newer release we should try?

[2015-04-29 08:15] Grundlefleck commented on #57
@seanjreilly There's nothing newer than 0.9.2 at the moment. I plan to release 0.9.3, with the Optional fix, as soon as I finish #39. It would be really great if you could test a snapshot before publishing 0.9.3, is that something you can do?

[2015-04-29 08:44] seanjreilly commented on #57
Hi,

No problem. I'm happy to run our tests with a snapshot. I will hopefully have time for that this weekend.

[2015-05-01 13:27] seanjreilly commented on #57
I think I found a slight issue with the Optional fix. It seems to work well, but it doesn't seem to pass without adding `AllowedReason.provided(Optional.class).isAlsoImmutable()` to the test definition.

I'm not sure if this is a bug or not, but I've created a simple git repo illustrating how I got the MutabilityDetector test to work with the current snapshot, and how I think it ought to work.

Th

[2015-05-01 17:02] Grundlefleck commented on #57
Hi @seanjreilly, many thanks for testing, you found a bug. Thankfullyit's just an error in the default configuration. You will get the behaviour you want with the following code:

[code]
This test passes with the snapshot, but I'll be sure to fix the default config before releasing 0.9.3.

Good catch!

[2015-05-04 14:44] Grundlefleck commented on #57
Just released 0.9.3 that should behave the way you expect with `Optional`.

[2015-05-04 14:44] #57 closed

[2015-05-04 14:45] Grundlefleck commented on #39
Just released 0.9.3 with support for immutable collection types of Guava.

[2015-05-05 10:06] seanjreilly commented on #57
Just checked out the new version, and it works swimmingly. I actually use the mutability detector in a few projects — I've updated one, and will do the other very soon.

Thanks!

[2015-05-11 16:14] danielFesenmeyerAtBosch opened #59 "ClassNotFoundException when Guava is not on the classpath"
With the currently released version (0.9.3) I get the following exception:

[code]

With version 0.9.2 the exception does **not** occur.

[2015-05-11 21:36] Grundlefleck commented on #59
Thanks for reporting, and apologies. Will get a fix pushed out in the next few days.

[2015-05-12 07:44] danielFesenmeyerAtBosch commented on #59
Thanks, no problem.

[2015-05-14 22:40] Grundlefleck commented on #59
Hi @danielFesenmeyerAtBosch, just released 0.9.4 to Maven Central, which should fix this issue.

[2015-05-15 21:01] Stephan202 commented on #39
@Grundlefleck, this is pretty cool. However, for some reason it seems that `ImmutableSortedMap` is still deemed mutable. The first two tests in the following class _pass_, but the third _fails_:

	public final class ImmutabilityTest {
		// Passes
		@Test
		public void testWithImmutableMapField() {
			final class ImmutableMapWrapper {
				private final ImmutableMap<String, String> map = ImmutableMa

[2015-05-17 15:44] Grundlefleck commented on #59
Bah, made a dumb mistake when releasing. 0.9.4 doesn't fix. Will fix properly soon.

[2015-05-17 16:48] Grundlefleck commented on #39
Hi @Stephan202,

This is a problem with your imports -- but it's introduced because of how I package the Jar, so apologies :)

The imported ImmutableSortedMap comes from the repackaged version of Guava that Mutability Detector uses. The clue is in this message:
`Field can have an abstract type (org.mutabilitydetector.internal.com.google.common.collect.ImmutableSortedMap) assigned to it.`

Note the

[2015-05-17 16:48] #39 closed

[2015-05-17 16:49] Grundlefleck commented on #59
0.9.5 is on it's way to Maven Central, it should contain the actual fix.

[2015-05-17 16:49] #59 closed

[2015-05-17 17:02] Stephan202 commented on #39
Hi @Grundlefleck, very good catch. I should have seen that... :/ Fixing the imports makes the test pass.

The reason I created the test cases in the first, place, however, is that I did have an issue with `ImmutableSortedMap` in code that was written before Mutability Detector was even on the classpath. (I.e., no incorrect `import` statements.) This is a an example that's closer to the real code (

[2015-05-17 20:28] Grundlefleck commented on #39
Ah yes, nested generics is a known problem. I'll open another issue for that.

[2015-05-18 08:29] danielFesenmeyerAtBosch commented on #59
Thanks, @Grundlefleck. I've just tested it. Works fine now.

[2015-07-01 10:29] seanjreilly opened #60 "Improve analysis for Optional collections"
The mutability detector does a great job of detecting when collection parameters have been made safely immutable. It would be absolutely wonderful if this also worked for Optional collection parameters such as `Optional<Set<String>>`.

When the mutability detector encounters a field assignment for a collection such as `this.s = Collections.unmodifiableSet(new HashSet<>(s));`, it correctly allows t

[2015-09-03 04:39] ThrawnCA opened #61 "RFE: Configurable strictness"
As mentioned in the documentation, the analysis is quite strict. Is it reasonable to make this more configurable?

For example, if a class is immutable as it stands, but is not final, then some projects might wish to consider that immutable.

[2015-09-03 04:41] ThrawnCA commented on #61
Looks like this is at least partly achieved when configuring assertions.

[2015-10-17 14:52] Stephan202 opened #63 "MutabilityDetector is not thread safe"
The following test fails more than half of the time on my 4 core/8 thread machine (it's an Intel  i7-4710MQ CPU).

[code]

When the failure occurs, the following type of stacktrace is logged:

    org.mutabilitydetector.unittesting.MutabilityAssertionError:
    Expected: com.example.Test$1DummyClass to be IMMUTABLE
         but: com.example.Test$1DummyClass is actually NOT_IMMUTABLE
        Reason

[2015-10-18 23:14] Grundlefleck commented on #63
Great test case, it reproduced the problem on my Intel Core 2 Duo laptop. I have committed it to the ["client" project](https://github.com/MutabilityDetector/ClientOfMutabilityDetector/blob/master/src/test/java/org/mutabilitydetector/issues/GitHub_63_NotThreadSafe.java), hope you are okay with the project using it.

I've known for a while that Mutability Detector is not thread safe, but the closes

[2015-10-19 05:13] Stephan202 commented on #63
Thanks a lot of the extended response! Of course it's no problem to c/p the test code. :)

Luckily this issue doesn't block us from using MutabilityDetector today, as it happens that we use the utility in only a single unit test in an abstract test class, which is inherited by the unit tests for the relevant model classes. So for the time being I solved the problem simply by wrapping the assertion

[2015-11-21 20:01] Grundlefleck commented on #63
Hi Stephan,

I have removed the underlying race condition and now consider `MutabilityAssert.assertXXX` to be thread safe. The state that tracks whether a request for a class is repeated before it's complete, thus indicating a cycle, is now done explicitly by passing that information from the point of the assertion, and is now never shared across threads.

This change will be in version 0.9.6, whi

[2015-11-21 21:31] Stephan202 commented on #63
@Grundlefleck: Thanks for fixing this! Just tested the latest SNAPSHOT (revision 69fdbd1635ebee06bb5576d256f5722a5482d57f) and I can confirm the fix works. (To the extend that repeatedly running the tests successfully can be considered "proof", of course!)

[2015-11-22 15:24] Grundlefleck commented on #63
Thanks again @Stephan202. I'll let you know when a release is available.

[2015-11-22 15:24] #63 closed

[2015-11-22 15:26] Grundlefleck commented on #61
Hi @ThrawnCA,

Firstly apologies for taking so long to respond.

Were you able to configure the strictness in a way that met your requirements? For example, a non-final class can be allowed with `AllowedReason.allowingForSubclassing()`. Are there any other specific examples you need to cater for?

[2015-11-22 15:42] Grundlefleck opened #64 "Hardcoding of results should be able to apply to MutabilityAssert.assertX"
See [this comment thread](http://mutability-detector.blogspot.co.uk/2013/01/v09-released-javalangstring-now.html?showComment=1438623940983#c9181349471899644375) for further background.

Currently hardcoding of results via `Configuration` only applies when the mutability of class A is being looked up while analysing B, which references A. It should be possible to rely on the hardcoded results while

[2015-11-22 15:46] Grundlefleck commented on #64
Ideally, the result of assertion, with all it's allowed reasons, would be used for the lookup, but that's a bigger change to consider.

[2015-11-26 17:05] Grundlefleck commented on #64
Relates to #65

[2015-12-01 09:00] lasombra commented on #44
That is a very interesting issue. I know nothing about class scanning but I'm interested in giving this a try. Is that OK?

[2015-12-01 11:30] alexsalesdev opened #66 "A summary of information to the CLI runner would be useful."
As a user, I was expecting summary of information after running `java -jar Mutability-Detector.jar -cp <my_workspace>`

By having a commandline flag like -summary/-s i.e `java -jar Mutability-Detector.jar -summary -cp <my_workspace>`

at the end of the execution of CLI runner there would be a summary of information i.e

[code]

[2015-12-01 11:37] Grundlefleck commented on #66
Excellent idea. I like the suggested output as is.

I know from other channels you intend to contribute the change yourself, so look forward to the pull request! :smile:

[2015-12-01 12:00] Grundlefleck commented on #44
@lasombra absolutely!

I know nothing about classpath scanning either, so hopefully we can learn together :smile:

This entire issue may be a bit big as it's currently described. So I think a good contribution to get started would be a change to Mutability Detector where a method was available, which, when invoked, scanned the classpath and lists all the classes it finds annotated with `@Immutable

[2015-12-05 10:46] Grundlefleck commented on #64
Fixed and will be in the next version.

[2015-12-05 10:46] #64 closed

[2016-01-04 22:31] Grundlefleck commented on #51
Now not so misleading, thanks @kwahsog!

[2016-01-04 22:31] #51 closed

[2016-01-05 13:35] badgersow commented on #52
Hi, is anyone working on this?
If none, can I grab this issue for myself?
Thanks.

[2016-01-05 21:55] Grundlefleck commented on #52
Hi @badgersow, nobody is currently working on this, so feel free! Let me know if you have any questions or problems getting started.

[2016-01-10 16:03] badgersow commented on #52
Hi, @Grundlefleck
Could you please give me an advice.
I implemented hint generation like the following:
[code]
But I want to add type parameter to constructor because java compiler generates warning:
[code]
To do this I need to resolve type parameter `String` in `sourceList` field declaration.
I have ASM `Type` class instance, and I need to get type parameter out of this.
Do you know easy (possibl

[2016-01-10 22:52] Grundlefleck commented on #52
Hi @badgersow,

There is existing code elsewhere which retrieves the generic type of a collection, when assigned to a field. In that case it's used to say e.g. `ImmutableList<String>` is immutable, but `ImmutableList<Date>` is not. If that sounds like what you want, take a look at the code here:

https://github.com/MutabilityDetector/MutabilityDetector/blob/master/src/main/java/org/mutabilitydetec

[2016-01-11 18:04] badgersow commented on #52
Thank you for fast reply.

This is almost what I need.
But I will change `CollectionField` class because now
[code]
is equal to
[code]
which is bad for my particular case.

Anyway, many thanks for providing starting point for me.

[2016-01-16 20:32] badgersow commented on #52
Hi, @Grundlefleck
Thanks for your help, today I succeded with `SignatureVisitor` and finally I can retrieve full generics information from field declaration. Yay!

Please, help me with one more question.
In case we have field declaration with wildcards, e.g.
[code]
or
[code]
What hint do you think will be the most correct?

I can think of two cases here:
1. `Collections.unmodifiableList(new ArrayL

[2016-01-17 13:22] Grundlefleck commented on #52
Sounds good to me, the parts that matter are the wrapping in unmodifiable, and constructing a new collection, I think it's fine to let the user figure out their generics, as that doesn't affect the hint.

Seems like you're progressing very well :)

[2016-01-25 22:03] Grundlefleck commented on #52
I think this issue has been addressed by @badgersow, the output will now look like:

`Attempts to wrap mutable collection type without safely performing a copy first. You can use this expression: Collections.unmodifiableSortedSet(new TreeSet<ImmutableExample>(unmodifiable))`

Which is a great improvement.

[2016-01-25 22:03] #52 closed

[2016-02-01 21:40] badgersow commented on #46
Hey, @Grundlefleck

Can I grab this issue for implementation?
Thanks!

[2016-02-02 21:44] Grundlefleck commented on #46
Sure!

Does the issue description make sense to you, do you have enough information to get started?

[2016-02-03 21:56] badgersow commented on #46
Thanks for the question.

I have read through [this mailing list](https://groups.google.com/forum/#!topic/mutability-detector/nTRsf3us4O0) and I see you and Marc already discussed a lot about this issue.
[ErrorLocationTest](https://github.com/MutabilityDetector/ClientOfMutabilityDetector/blob/8e79e4907b08da9be153202a45b9d2e82534f2f9/src/test/java/org/mutabilitydetector/ErrorLocationTest.java) was

[2016-02-04 21:37] Grundlefleck commented on #46
I think you have it right. Once we have those line numbers, we can then make a small change to how the errors are printed in the unit test failures so that they're clickable. I'm not sure there's a separate issue, but I think that would be the entire "feature" complete.

[2016-02-05 11:15] Grundlefleck opened #72 "Update the wiki/homepage/readme/etc with information on new gitter room"
The project recently got it's own gitter room: https://gitter.im/MutabilityDetector/main

It would be cool if the various places that a newcomer sees included links to the gitter room. These include:

- the homepage at mutabilitydetector.org (hosted by GitHub Pages)
- README.md
- CONTRIBUTING.md
- any pages on the wiki that provide contact information

[2016-02-08 17:48] Grundlefleck commented on #72
A badge in the readme, such as the one from this automated pull request would be cool too:

https://github.com/MutabilityDetector/MutabilityDetector4FindBugs/pull/7

[2016-02-21 20:13] Grundlefleck opened #74 "Update the README to include up-to-date output for CLI"
The README has old usage instructions, there's at least one new option (`-s` for a summary to be printed). This should be updated for current usage.

[2016-02-21 20:16] Grundlefleck opened #75 "Investigate Travis CI failures due to JVM crashing"
For some reason the JVM crashes when running unit tests on Travis CI, see for example here: https://travis-ci.org/MutabilityDetector/MutabilityDetector/builds/109694632

No idea whether this is a Travis issue or not, but needs looked at. Every pull request comes up as failing this build, and when I run locally, the same build passes.

[2016-03-14 18:44] mvanotti commented on #4
@jufickel @Grundlefleck did this change land? There is still no fix for the lazy initialization case?

[2016-03-15 16:31] Grundlefleck commented on #4
Hey @mvanotti,

There is still no fix for this case. There was a contribution made by @jufickel ages ago, and for some reason I can't remember, it is not enabled by default. `java.lang.String/Integer` are hardcoded as immutable, but without enabling a specific code path, there is no attempt to detect lazy initialisation.

Is this issue causing you problems as a user, or do you have another interes

[2016-03-15 16:48] Grundlefleck commented on #75
Fixed. Using the short-hostname plugin, as well as telling Travis to run with sudo... and additionally deleting a JUnit test case that loaded a class which totally barfed makes the build pass again.

https://travis-ci.org/MutabilityDetector/MutabilityDetector/builds/116168930

[2016-03-15 16:48] #75 closed

[2016-04-06 15:12] puntogil opened #81 "Source files without license headers"
Hi
The following source files are without license headers:

./src/test/benchmarks/org/mutabilitydetector/benchmarks/mutabletofield/generic/HasFieldUsingGenericTypeOfClass.java
./src/test/benchmarks/org/mutabilitydetector/benchmarks/mutabletofield/generic/HasFieldOfGenericType.java

Please, confirm the licensing of code and/or content/s, and add license headers
https://fedoraproject.org/wiki/Packag

[2016-04-06 16:27] Grundlefleck commented on #81
Those source files, like all other source files, are under Apache 2.0 license.

I'm going to offer fixing the license headers for newcomers (with the up-for-grabs tag), so they may not have an Apache 2.0 header added to them immediately, but they will at some point.

@puntogil may I ask, what is your interest in seeing these files licensed? I know they should be, but they are only test files that

[2016-04-06 17:05] puntogil commented on #81
Hi
if i want import this library in Fedora distributions then i should fix all License issues as reported in the previous link. In Fedora we use some tools to avoid these issues.
Again thanks

[2016-04-11 12:06] more10 opened #82 "Problems cloning class generated by wsimport"
Code:
`<dependency org="org.jadira.cloning" name="cloning" rev="3.1.0.CR10"/>
`

`private static BasicCloner cloner = new BasicCloner();
`
[code]

[Adresspost.zip](https://github.com/MutabilityDetector/MutabilityDetector/files/212870/Adresspost.zip)

Exception:

[code]

[2016-04-11 21:15] Grundlefleck commented on #82
Thanks for reporting.

I'm unable to reproduce, it would be ideal if you could provide a small project replicating the issue, because I can't reproduce anything with just the source file. The source does not look like it contains anything that is unusual or esoteric.

Would it be possible to let me know which version of Mutability Detector you are using, and also, what is the version of the class

[2016-04-12 06:23] more10 commented on #82
I get MutabilityDetector through org.jadira.cloning.

I am jusing jdk 1.8.0_45.

[2016-04-12 06:29] more10 commented on #82
https://github.com/JadiraOrg/jadira/issues/54

[2016-04-12 08:52] more10 commented on #82
I was using an old verison of Jadira, they changed the org string :-) . Problem solved:

`<dependency org="org.jadira.reflection.cloning" name="cloning" rev="3.2.0.GA"/>`

[2016-04-12 08:52] #82 closed

[2016-05-15 12:08] harikrishna553 opened #86 "Immutability test failing"
[code]
When I tried to test for immutability using "assertImmutable(Student.class);", I am getting following error.

Attempt to wrap mutable collection using a non-whitelisted unmodifiable wrapper method. [Field: hobbies.....]

[2016-05-15 13:06] Stephan202 commented on #86
@harikrishna553, this class is not immutable because its constructor may be provided a mutable `List`. That way a `Student`'s `hobbies` can be modified after object construction.

[2016-05-15 15:01] harikrishna553 commented on #86
Thanks for your reply Stephen,
   Above class is immutable, When you see "getHobbies" method, I am returning a copy of hobbies list, not the reference to original one.

[2016-05-15 15:03] harikrishna553 commented on #86
Got your point. What if my constructor is like below.

[code]

[2016-05-15 15:50] Stephan202 commented on #86
@harikrishna553, yes, that would prevent outsiders from altering the list.

NB: note that `#getHobbies()` can be optimized a bit by returning `Collections.unmodifiableList(hobbies)`: that way no copy is made.

[2016-05-15 16:07] harikrishna553 commented on #86
I changed statement like below, and re run the test case.
`this.hobbies =Collections.unmodifiableList(hobbies);`

I am getting following error.
Attempts to wrap mutable collection type without safely performing a copy first [Field: hobbies.......]

How to make the test case pass for an immutable class with mutable fields like lists, set, arrays etc/.

[2016-05-15 18:25] Stephan202 commented on #86
My suggestion was to place the `Collections.unmodifiableList` invocation in the _getter_, not in the constructor. I.e.:

[code]

That said, also have a look at Guava's [immutable collections](https://github.com/google/guava/wiki/ImmutableCollectionsExplained).

[2016-05-15 19:13] harikrishna553 commented on #86
Stephen,
  I got it what you are saying. I am still getting same error when testing **'assertImmutable(Student.class)'** the Student class.

[code]

Following i my Test class.

[code]

[2016-05-15 19:28] Grundlefleck commented on #86
Hi,

While Stephan is correct that wrapping in unmodifiable in the getter makes
the class immutable, unfortunately Mutability Detector does not realise
that. It's analysis is a bit too naïve.

I suggest copying *and* wrapping in the constructor:

this.hobbies = Collections.unmodifiableList(new ArrayList<>(hobbies));

That should make the test pass and have other benefits:
- only one instance of th

[2016-05-15 19:31] harikrishna553 commented on #86
Thanks Grundlefleck , Stephen
  It solves the issue. Thanks for quick help.

[2016-05-15 19:31] #86 closed

[2016-05-16 06:59] Stephan202 commented on #86
@Grundlefleck, good suggestion on moving everything in the constructor; I almost feel dumb for not suggesting it myself. I guess it's because in my own code I always use Guava's immutable collections, so I haven't recently used the "JDK-only" approach. Anyway, happy to help!

[2016-05-31 17:06] jagan387 commented on #81
I'm new here, and wanted to start with this issue to start with & get around the code base. This issue seems to be fixed in the latest code. Why is this still open?

[2016-05-31 17:13] Grundlefleck commented on #81
@jagan387 my mistake. Closing now, thanks for pointing it out.

[2016-05-31 17:13] #81 closed

[2016-06-01 07:11] jagan387 commented on #72
This issue is fixed:
README.md, CONTRIBUTING.md and the wiki already have the gitter room badge. The homepage, though it does not have a direct link, has contact page, which in turn has the gitter badge. We need to mark this as fixed.

Although the home page http://mutabilitydetector.org/ has  a small glitch at the end, in the "Mutability Detector Blog" section which says, "Unable to retrieve spec

[2016-06-01 07:13] jagan387 commented on #66
Isn't Summary already available? Is this also a fixed issue?

[2016-06-01 17:05] jagan387 commented on #43
Since we have #46 separately, does that mean we can fix the linking, and close this bug? If so, i can submit a fix right away

[2016-06-08 20:34] Grundlefleck commented on #72
Thanks for pointing out. I will close this and open a new issue for the RSS feed widget.

(For this, and the other issues and pull requests you've been active on recently, I'm sorry it's taken so long to reply, I've been on holiday.)

[2016-06-08 20:34] #72 closed

[2016-06-08 20:36] #74 closed

[2016-06-08 20:42] Grundlefleck opened #88 "RSS widget on the homepage is no longer available"
There was previously an RSS widget for the project [blog](http://mutability-detector.blogspot.co.uk/) linked from the [homepage](http://mutabilitydetector.org/). This at some point stopped working, presumably when Google Code was shutdown, which was where the widget was hosted.

This issue should find an alternative widget for linking to an RSS-enabled blog, and change the homepage to include it.

[2016-06-08 20:43] Grundlefleck commented on #72
Opened #88.

[2016-06-08 20:48] Grundlefleck commented on #66
I have left this as open, but with the due-for-release tag, because there is no version available from Maven Central which contains the fix. There is no more work to be done on this issue except to cut a release. I'm unsure when exactly that will happen.

I kinda wish there was another state for this issue, because I see how it's confusing for anyone looking for something to contribute, but I also

[2016-06-08 20:53] Grundlefleck commented on #43
By "fix the linking" do you mean a code change that will print out the format that becomes a link, but not the change to provide accurate numbers? I think that would be a reasonable chunk to contribute. Perhaps there should be a class/interface/datastructure that can be created (if it doesn't already exist) that can be printed out, but maybe just is created with dummy line numbers for now, but can

[2016-06-09 06:18] jagan387 commented on #66
I'm unsure about open source project conventions, but in enterprise, everything thats fixed in code/text is marked text. The release version is usually tracked by either a separate "release by" field, or having a "next-release" or "due-for-release" tags.

Later, when we are about to release, we search the BugDB with either the release by field for the current version or the next-release tags to ge

[2016-08-23 09:57] jagan387 commented on #66
Does the above idea make sense to any of you?

Even if it doesn't, we probably need to have a better way to differentiate issues which needs to be merged in the next release, and those which are open and needs to be fixed

It is really confusing to look at open issues, and read them all the way, to only find out that they have been fixed and merged

Can we please have a discussion to clean this up

[2016-11-10 16:39] #66 closed

[2016-11-10 16:44] Grundlefleck commented on #66
@jagan387 I've now closed this issue because 0.9.6 has been released.

I plan to do something different for tracking which issues need further work vs. those which are complete but not yet released. From now on, if an issue is open, that means there is further work to be done, and contributions are gratefully received.

Sorry for such a long delay in responding.

[2016-11-10 18:42] Grundlefleck opened #89 "Replace Guava with Java 8"
0.9.6 is the last release which will support being executed on pre-Java 8 JVMs, so we are now free to use Java 8 features. Currently, MutabilityDetector includes the Guava library as part of it's shaded jar. The less dependencies in this jar the better, and there's a decent chance one can be removed. I can't quite remember everything Guava is used for, but it's possible that it's limited to Option

[2016-11-10 18:45] Grundlefleck commented on #61
Sorry, I can't make any progress on your issue without more detail. Please feel free to open if you can provide clarifications/suggestions.

[2016-11-10 18:45] #61 closed

[2016-11-10 20:58] Grundlefleck opened #90 "Value for "second runtime" in command line summary is incorrect"
Running the command line application, with the summary option enabled:

[code]

It takes about 40 seconds, but reports -18878 seconds runtime. At a guess, without inspecting the code, I'd say there's a subtraction of timestamps going on, but the subtraction doesn't use the same units.

[2016-11-10 21:00] Grundlefleck commented on #90
/cc @alexsalesdev interested in looking into this?

[2016-11-12 13:15] jagan387 commented on #66
@Grundlefleck Thanks for the decision of keeping only dev-work-needed issues as open. I will check back in a week, to try and pick up something that i can work on. Hopefully, by then, you will have enough time to clean up the existing open issues according to your future plan

[2016-11-14 13:35] mohamed-fadl commented on #90
I solved that one :)

[2016-11-20 16:07] #90 closed

[2016-11-20 16:08] Grundlefleck opened #92 "The fix for #90 is missing test coverage"
Issue #90 has been fixed, but the fix was merged without test coverage. This issue is to provide test coverage to help prevent regressions of the problem that led to #90.

[2016-11-20 16:10] Grundlefleck commented on #92
@mohamed-fadl interested in this?

[2016-11-20 16:11] Grundlefleck commented on #92
I'm holding back information on how **I** would provide test coverage here, to give would-be contributors a chance to think about the problem. I'm happy to give advice when required. HINT: my expectation is that the code of `SessionResultsFormatter` would change to facilitate easier testability.

[2016-11-20 18:32] mohamed-fadl commented on #92
will look at it :)

[2016-12-06 04:10] talflon commented on #89
I did a quick search, and Guava isn't just used for Java 8 features in your project. It's also used for immutable collections classes (!), and some other convenience functions like `Predicates` and `Objects`. All of those could be replaced, but do you actually want them to be? Plus, you use `ClassPath`, which sounds non-trivial to replace.

Another thing you use that could be replaced by Java 8 fe

[2016-12-06 13:52] Grundlefleck commented on #89
Hey, thanks for looking!

ClassPath I think comes from another dependency ("Classpath Explorer") and
isn't part of Guava. I forgot about the use of immutable collections, d'oh.
Those alone are probably worth keeping Guava for, unless they can be easily
replaced with unmodifiable wrappers.

We could probably at least replace anonymous instances of Guava
Function/Predicate with JDK 8 lambdas. Would

[2016-12-06 16:14] talflon commented on #89
Sure, I'll see what I can do.

[2016-12-06 21:54] talflon commented on #89
You have a lot of constants that are `Functions`. As I change them from Guava to Java 8, I've been deleting ones that seem unnecessary (because they correspond to method references, or very simple lambdas). But what about the public ones? Were they public only so that they could be used between packages, or do you actually want them to stay?

---------------------

Since it sounds like Guava's sta

[2016-12-06 22:55] Grundlefleck commented on #89
I believe public Function constants are only public to be used between packages. I'm pretty confident they can be removed. Because it uses the Maven shade plugin to repackage classes into the jar, if a library user referenced the constants they would be of type `org.mutabilitydetector.repackaged.com.google.base.Function`, and that wouldn't interact well if they tried to use it against a real Guava

[2016-12-06 23:02] Grundlefleck commented on #89
In terms of Iterable, yeah, I don't like the Stream version compared to Guava either. I wonder how much the choice to use Iterable was because of Guava, and whether it makes sense to use Collection. For example, every Iterable that's created can probably traced back to Mutability Detector's own code where it instantiates a concrete collection type, so is it worth having it as Iterable? I'm not sur

[2016-12-07 02:01] talflon commented on #89
The doc for `ConfigurationBuilder.mergeHardcodedResultsFrom()` says:

But in your implementation, and the `mergeReplacesExistingHardcodedResultForClassWithCurrentHardcodedResult` test, it's the opposite—the result is not replaced. Which should it be?

[2016-12-08 17:55] Grundlefleck commented on #89
Whoops. Whatever the public documentation says is how it should work. Shows
how much that feature is needed :)

On 7 Dec 2016 2:01 a.m., "Daniel Getz" <notifications@github.com> wrote:

[2016-12-08 17:59] talflon commented on #89
OK, it's a simple fix anyhow. I'm new to pull requests; should I fix that as a separate commit in the same pull request? Or do two pull requests?

[2016-12-08 18:00] Grundlefleck commented on #89
If you don't mind the bit of effort, a new pull request please.

On 8 Dec 2016 5:59 p.m., "Daniel Getz" <notifications@github.com> wrote:

[2016-12-08 18:15] talflon opened #93 "ConfigurationBuilder.mergeHardcodedResultsFrom() doesn't replace existing results"
The doc for `ConfigurationBuilder.mergeHardcodedResultsFrom()` says:

But in the current implementation, it's the opposite: the existing results are kept, not replace. And the `mergeReplacesExistingHardcodedResultForClassWithCurrentHardcodedResult` test asserts that they're not replaced.

[2016-12-08 18:16] talflon commented on #89
OK, I created issue #93 for this.

[2016-12-16 14:03] #93 closed

[2016-12-29 15:12] gualtierotesta opened #96 "toString detector do not find a field"
Hi,

the hasValidBeanToString() fails on a field named **aStr** (it seems it looks for **AStr** instead).

Java version: 1.8.0_112, vendor: Oracle Corporation
MutabilityDetector: 0.9.6

Message is
[code]

Class code:
[code]

Test class code:
[code]

Complete project can be found at https://github.com/gualtierotesta/test-solutions module general class LombokBean.

Note: I know there is no meaning t

[2016-12-29 17:10] Grundlefleck commented on #96
Hi @gualtierotesta, I think you might have the wrong github project. It looks like your error is in the bean-matchers library, and the repo you're looking for is here: https://github.com/orien/bean-matchers

Let me know if I've got that wrong and the error is related to Mutability Detector. And please don't hesitate to raise any other issues! :)

[2016-12-29 17:10] #96 closed

[2016-12-30 09:23] gualtierotesta commented on #96
@Grundlefleck You are perfectly right. I added the issue to the wrong project. I'm really sorry.
By the way, I've found your project very useful and I will adopt it in my company projects. Many thanks.

[2016-12-30 11:00] Grundlefleck commented on #96
No need to apologise :)

Great to hear you're finding Mutability Detector useful, if you can think of any features that would help you, don't be shy!

[2017-01-05 23:13] Grundlefleck opened #98 "Collection fields with generic types of primitive array result in NullPointerException"
When a class has a field like:

  `private final List<byte[]> myByteList = new ArrayList<>();`

The `CollectionField` class, and therefore the `MutableTypeToFieldChecker` fails to recognise the generic types of the collection, and return null, instead of an `[Z`.

There are two tests that demonstrate this:
 - `CollectionFieldTest.recognisesPrimitiveArrayAsGenericTypeOfCollectionField`
 - `WellKnow

[2017-01-14 21:23] Grundlefleck commented on #25
Finally got ASM to work without loading classes, in this [project](https://github.com/Grundlefleck/ASM-NonClassloadingExtensions).

That implementation has now been introduced to Mutability Detector, and will be opt-in for the next release. It is exposed from the command line via the `--nonClassloading` flag, and to unit tests via `ConfigurationBuilder.setClassloadingPolicy`.

Without any real tun

[2017-01-14 21:23] #25 closed

[2017-01-14 21:24] #88 closed

[2017-02-12 20:43] vik4es commented on #98
Hi!
I've tried to fix this issue in pull request Issue_98_fix

Check please if fix is acceptable

[2017-02-13 15:22] Grundlefleck commented on #98
The fix looked acceptable to me. Good job @vik4es :)

[2017-02-13 15:22] #98 closed

[2017-02-13 23:16] civild commented on #92
There's several ways I can think of:
* Scan the output of a current test case, parse the number of seconds and assert that it is >=0
  * Not the best, especially since the number of seconds for most tests will be 0
* Add startTime as a parameter to appendSummaryOfResults and change it to package-local, then write a test just for that method
  * More direct, but changing the scope may not be desire

[2017-02-16 21:07] Grundlefleck commented on #92
I like the last option the best. When it comes to anything time or date based, I like to make sure that I can always test the effects of time passing within a unit test. That way I can check all the expected conditions in a way that's fast (no waiting for actual time to elapse, and no `Thread.sleep` that makes tests slow) and deterministic (doesn't matter when or how quickly it runs, it always has

[2017-02-16 22:37] civild commented on #92
Great, I'll take a look and send a pull request with my solution.

[2017-03-04 11:19] rockydcoder commented on #89
I was going through this project, which I hope would be my first OSS PR. If the above branch is merged, why is this issue still open?

[2017-03-18 18:10] Grundlefleck commented on #89
@rockydcoder most likely it was a plain old mistake on my part :) closing now, thanks for the reminder.

[2017-03-18 18:10] #89 closed

[2017-03-19 03:48] rockydcoder commented on #46
@Grundlefleck , is someone still working on this issue?

[2017-03-19 15:11] badgersow commented on #46
I do not work on this issue

[2017-11-20 17:00] danielFesenmeyer opened #104 "Consider provided immutable classes for generic fields"
When I have declared some class as immutable, I would expect that a class having a field of a generic subtype of this class is also considered as immutable.

But this does not work. The following test fails:
[code]

[2017-11-22 18:37] Grundlefleck commented on #104
Yup, I think that's a fair assessment.

I know it's not the same assertion, but this might be a workaround in the meantime:

`assertInstancesOf(ClassWithGenericField.class, areImmutable(), provided("T").isAlsoImmutable());`

I'm not sure if the generic type information is available to the `isAlsoImmutable()` matcher, but we definitely capture generic information, so might just be a case of storing

[2017-11-23 06:46] danielFesenmeyer commented on #104
Thanks for the workaround :)

This is not urgent for us, it's more a nice-to-have.

[2017-11-30 10:32] pschoffer opened #105 "Build enhancement: Untracked dependency-reduced-pom.xml"
When building the project using:
`mvn clean install`

New untracked by git file is generated: dependency-reduced-pom.xm

As I googled this is done by **maven-shade-plugin**.

There are 3 solution as far as I could think of:

1. Change the config of the plugin to not generate this file:
`<createDependencyReducedPom>false</createDependencyReducedPom>`

2. Add the file to git

3. Add the file to .git

[2017-12-04 22:27] Grundlefleck commented on #105
I understand what generates this file, and what it contains, but I'm still unclear (after a short skim over the docs) whether it's actually required or not. The only time it is useful is when building a JAR that's going to be put on Maven Central, and since I'm the only person who has authority to do that, it's pointless for everyone else. However, I don't know if changing the config (option `1`)

[2017-12-07 17:24] pschoffer commented on #105
Thanks for the commend. 3) was merged.

[2018-02-05 18:38] danielFesenmeyer opened #109 "Self-referencing classes need to declare themselves as immutable"
Self-referencing classes are reported as not immutable per default. An example for this is a tree. A workaround is to specify an AllowedReason which declares themself immutable, which is not really intuitive.

Can be reproduced like this:
[code]

[2018-02-19 22:01] HoldYourWaffle opened #110 "IllegalArgumentException with Java 9"
So I tried my very first mutability test using JUnit 4.12, but it failed horribly.
[Pastebin of test report](https://pastebin.com/JbX6GHcQ)

Test and the analyzed class:
[code]

[code]

This almost hello world-like test should've failed (`MethodInvoker` is not final), but instead of failing the assertion it 'crashed' with an `IllegalArgumentException` (wrapped in a `MutabilityAnalysisException`) a

[2018-02-19 22:08] HoldYourWaffle commented on #110
Did some further investigation, this seems to be an issue with Java 9. It works absolutely fine when testing on java 8.

[2018-02-20 22:07] Grundlefleck commented on #110
Hey @HoldYourWaffle, thanks for reporting!

I mistakenly thought I had released a version compatible with Java 9, following #103, but now I realise that version doesn't exist. I've released v0.10.1 tonight, and it should be in Maven Central within hours. Could you try again with that and see if that fixes your issue?

Thanks again.

[2018-02-20 22:25] Grundlefleck commented on #109
Good diagnosis. I definitely agree the test case you provided should pass without the workaround. What do you think in terms of the generics of `children` in the example you provided? Should it be limited to specifying a collection type as a precise, non-extensible class, in other words, no `? extends` or `? super`?

I'm not sure exactly where this logic should be applied. I'll need to think about

[2018-02-21 15:06] HoldYourWaffle commented on #110
Everything seems to work perfectly now thanks!
###### I wonder how this has gone unnoticed for 4 months though... 🤔

[2018-02-21 15:06] #110 closed

[2018-02-26 16:39] matteomazza91 opened #111 "List assignment with ternary operator"
I have found a **False negative**: I wrote a User class that is immutable but the detector doesn't think it is.
I directly provide a piece of code:

given that `this.roles` is a private final field and no setter methods are defined
if I write this code in the constructor, the class is correctly recognized IMMUTABLE.

    if (roles == null) {
      this.roles = null;
    } else {
      this.roles =

[2018-02-26 21:44] Grundlefleck commented on #111
Thanks for raising. I've easily reproduced in a [test case](https://github.com/MutabilityDetector/ClientOfMutabilityDetector/commit/43160e3c311d89fafb7eae9c9d72a4e973e13038).

I can't give an ETA on a fix right now, but I'll start taking a look.

[2018-03-02 06:40] rohansuri commented on #111
Hi @Grundlefleck could I take this issue up?
I've started debugging my way through and understand that a smarter check (or change in what is being passed to it's ctor) is required in `CollectionTypeWrappedInUnmodifiableIdiomChecker`
Probably starting with what is the `typeAssignedToField` ctor arg in case of the ternary operator.

I hope I'm in the right direction

[2018-03-05 23:55] Grundlefleck commented on #111
Hey @rohansuri,

You can absolutely take this issue up :) I think there is a minimal fix which addresses the immediate issue (that looks something like the change [here](https://github.com/MutabilityDetector/MutabilityDetector/pull/112/files) but if you have an idea for a more advanced analysis then I'm very keen to see it. I think it would be good to be able to point to one or both of the branche

[2018-03-13 21:58] Grundlefleck commented on #111
This has been addressed by #112 and will be in the next release.

Many thanks to @sband for his contribution.

@rohansuri although this issue is fixed, I'm still very open to hearing your thoughts on improvements to the analysis.

[2018-03-13 21:58] #111 closed

[2018-03-14 17:46] sband commented on #104
Here is a proposal to solve this problem:
The Cause:
Currently the code stores and works with the assumption that whatever we provide in the "provided" construct/method is immutable before even starting the usual flow; and there is no way later in the code flow to record or access this information. Additionally for field visitors what we access is the signature and not the type descriptors (which

[2018-05-12 11:18] luke777 opened #114 "com.google.common.primitives.ImmutableDoubleArray, ImmutableIntArray, ImmutableLongArray"
Would it be possible to add
com.google.common.primitives.ImmutableDoubleArray, ImmutableIntArray, ImmutableLongArray
to the list of Guava hardcoded immutable classes?

[2018-05-14 06:28] Grundlefleck commented on #114
Yup, going by the class names at least those should be on the list. Do you
fancy creating a PR? "No" is a fine answer :)

On Sat, 12 May 2018, 13:18 luke777, <notifications@github.com> wrote:

[2018-06-11 15:37] nickantzoulis opened #115 "MutabilityAnalysisException thrown during analysis"
ERROR:

[INFO] --- findbugs-maven-plugin:3.0.5:findbugs (findbugs) @ fb-tests ---
[INFO] Fork Value is true
     [java] Registered plugin detector [MutabilityDetector4FindBugs]
     [java] The following errors occurred during analysis:
     [java]   Exception analyzing nick.HistoryItem using detector org.mutabilitydetector.findbugs.MutabilityDetector4FindBugs
     [java]     org.mutabilitydetector

[2018-06-22 21:19] Grundlefleck commented on #115
Hey @nickantzoulis, thanks for taking the time to report.

Unfortunately it looks like the stack trace you have access to has just about everything except the interesting bit :( with all the wrapping of exceptions to try to be helpful, it looks to have lost the origin of the exception.

However, looking at the most recent version of the FindBugs plugin, I'm not surprised there are issues. I'm goin

[2018-06-22 22:03] Grundlefleck commented on #115
Version 0.9.3 of the FindBugs plugin should be winging it's way to Maven Central. If you get a chance could you give that a try and get back to me?

[2018-06-22 22:18] Grundlefleck commented on #109
Thanks to @sband this issue was fixed (#113 ). Will be in the next release.

[2018-06-22 22:18] #109 closed

[2018-06-25 22:54] nickantzoulis commented on #115
Will do. Which version of the '@Immutable' annotation should I be using?

[2018-06-26 07:54] Grundlefleck commented on #115
It should work with any annotation called "Immutable", the package doesn't
matter. See the logic for that here:
https://github.com/MutabilityDetector/MutabilityDetector4FindBugs/blob/fc29a7a39e054f1d58c8079fa6e06beae06f53be/src/main/java/org/mutabilitydetector/findbugs/IncorrectlyAppliedImmutableAnnotationDetector.java#L57

Although, it seems a bit sensitive to the casing. Does the annotation
you'

[2018-06-27 21:49] nickantzoulis commented on #115
No, not using lowercase 'i'. The comment editor changed the case on me on submit:) Haven't had a chance to check the fix yet, but its on my list.

[2018-07-02 13:04] danielFesenmeyer commented on #109
Thanks for your great work, guys 🥇

[2018-09-04 19:30] joahuber opened #116 "Does not work with jdk 10"
Hi
I tried to upgrade to jdk 10 but the check fails with an exception in the asm library. I tried to upgrade to the latest asm-version but it didn't help. I attached a zipped example project. I assume that the class file format doesn`t match anymore. But it seems to be bit more involved than just updating the libraries.

[code]

[plab_public.zip](https://github.com/MutabilityDetector/MutabilityDet

[2019-01-07 20:36] lrozenblyum opened #118 "Releases remarks"
Hi there! Thanks for the great project!

I'm working on updating some Maven dependencies and it looks Mutability Detector 0.10.1 has been found at Maven central.

However I couldn't find a changelog and GitHub releases seem to be a little bit not up-to-date:

1) http://mutability-detector.blogspot.com/ - mentions 0.9.6
2) https://github.com/MutabilityDetector/MutabilityDetector/releases - this pag

[2019-01-09 22:07] Grundlefleck commented on #118
Hi @lrozenblyum. I've added a Tag and a Release, and changed the Getting started information in the README to point to 0.10.1. I've chosen not to do a blog entry, I think I'll save that for significant releases that require descriptions.

Many thanks for reporting!

[2019-01-09 22:07] #118 closed

[2019-01-09 22:11] Grundlefleck commented on #115
@nickantzoulis if 0.9.3 didn't fix your issue, let me know and I'll reopen. I'm going to be really optimistic and assume it solved all your problems, and close the issue :)

[2019-01-09 22:11] #115 closed

[2019-01-09 23:10] Grundlefleck commented on #116
Hi, thanks for reporting.

I've taken a brief look and I think you are essentially stuck: an ASM upgrade needs to happen, but as a consumer of the library you can't do that upgrade because ASM is repackaged into the MutabilityDetector jar, into another namespace. There's no way, as far as I know, of getting around that, except by rebuilding Mutability Detector with a newer version.

I need to figu

[2019-01-10 07:53] lrozenblyum commented on #118
Thanks @Grundlefleck!

[2019-02-07 07:27] barclay-reg commented on #116
Hi @Grundlefleck
what about shading all dependencies, except asm?
Another way could be to offer two distributions, one (full) shaded, another one without any shading.

[2019-02-14 08:04] sband commented on #105
Should this be closed ?

[2019-02-14 08:25] pschoffer commented on #105
I think yes,

[2019-02-16 12:15] Grundlefleck commented on #105
I concur.

[2019-02-16 12:15] #105 closed

[2019-03-23 09:05] sband commented on #44
Is this issue resolved yet ? if there is any work remaining around this and no one can pick up, please let me know. I could look into it

[2019-03-23 10:57] Grundlefleck commented on #44
This feature isn't available yet, no. Still work to be done. IIRC the first
steps have been taken to lookup classes (using reflection which isn't how
I'd like it but that's another topic, it'll do for now). Then there's work
to create the API for setting it up then executing all the tests.

 Plenty to do would be great if you're interested!

On Sat, 23 Mar 2019, 09:05 Sanket Band, <notifications@g

[2019-03-28 12:18] sband commented on #44
ok, cool. For scanning the classes should we look at this open source project https://github.com/classgraph/classgraph ? it is compatible with Java 9 as well.

[2019-03-28 22:10] Grundlefleck commented on #44
My ideal solution would:

- not require classes to be loaded. Anything using reflection (e.g. `java.lang.Class` et al) requires classes to be loaded. I'd prefer to just analyse `.class` files and their bytecode, without worrying about having to load the class. This is mostly to avoid excess memory usage (in PermGen/Metaspace) that I've found difficult to manage in code.
- be fast. I'd like to not

[2019-03-29 06:36] sband commented on #44
Awesome ! Most of the requirements you mentioned are addressed in classgraph. Here is the link for reference - https://github.com/classgraph/classgraph/wiki/How-fast-is-ClassGraph%3F
Now what remains is the problem about false negatives which i think can be sorted out through testing. I  think classgraph is a suitable solution for  scanning part of the problem.

I think i am asking too much, but w

[2019-04-02 11:01] shauryapatel27 commented on #114
Hi I would like to get started on contributing to this project with this change if it is still open. I have significant experience with Java and would like to work on this. Please let me know if this issue is still open.

[2019-04-07 16:42] Grundlefleck commented on #114
The issue is still open, PR very welcome.

On Tue, 2 Apr 2019, 13:01 shauryapatel27, <notifications@github.com> wrote:

[2019-06-17 19:44] joahuber commented on #116
Hi @Grundlefleck
I finally found some time to look into it again, I try to set some time apart to find a solution for it. If this very useful project should have a future, we better keep up with the crazy 6-month releases of Java.

[2019-06-17 20:43] Grundlefleck commented on #116
Hey @joahuber, I've had a play around to see if there was anything sneaky that could be done to stick with one single distributed JAR while still allowing future JDK versions with no dev effort. I can't see a way to offer both "can keep up with Java" and "CLI usage with no dependencies" at the same time.

I think two distributions, as @barclay-reg suggests, one for unit test and runtime (no shadin

[2019-06-19 20:01] joahuber commented on #116
Hi @Grundlefleck
Thanks for guiding me in the right direction. My Maven-Skills are a bit dated, but I think I will manage. What keeps me busy at the moment is the fact that the latest ASM version is not just a drop-in replacement for the currently used one. There are a couple of breaking changes which I first have to figure out, as well in your upstream project ASM-NonClassloadingExtensions. This

[2019-07-11 20:06] Grundlefleck commented on #116
@joahuber in the meantime, until such times as the artifacts are split, I've released version 0.10.2 which is compatible up to JDK 11. It's already available in Maven Central.

... having done that, I'm now not so convinced that it will be possible to just let clients upgrade ASM underneath MutabilityDetector as a way to keep up to date with JDK releases. For example, in getting compatible with JD

[2019-07-11 20:06] #116 closed

[2019-08-05 21:01] logan-lieou commented on #114
What even is PR and is this issue still open I am very new

[2019-08-07 16:38] Grundlefleck commented on #114
Hi @logan-lieou ,

PR means "Pull Request", and it basically means "I suggest these changes, will you accept them?". A lot of the times changes are functional changes to the code (bug fixes, enhancements) but they can also be things like: adding documentation; refactoring (changing code to be easier to understand, without changing what it does); or even correcting spelling mistakes.

If you are in

[2019-08-07 18:04] emmahastings commented on #114
Hey,

Sorry if I stepped on anyones toes here but I had started looking at this issue yesterday and just thought I'd see it through. I'd been playing around with the using the code to analyse some of my own work. I have created a PR if you are interested: https://github.com/MutabilityDetector/MutabilityDetector/pull/139.

Thanks,
Emma

[2019-08-10 17:11] emmahastings commented on #92
Hi,

Is this issue still available, looks to me like it may have been fixed in https://github.com/MutabilityDetector/MutabilityDetector/pull/101.

Thanks,
Emma

[2019-08-20 20:28] Grundlefleck commented on #114
@emmahastings no toe-stepping as far as I can see. I can create an abundance of tasks to work on, it's getting interested, motivated people like yourself that's the constraint :)

Thank you for your fix!

[2019-08-20 20:28] #114 closed

[2019-10-03 16:45] jlengrand commented on #92
Agreed @emmahastings

[2019-10-04 20:06] Grundlefleck commented on #92
You are correct @emmahastings. Sloppiness on my part. Thank you :+1:

[2019-10-04 20:06] #92 closed

[2020-02-26 14:29] remal opened #159 "Include Java 8 date-time API into JdkConfiguration"
Please include Java 8 date-time API into `JdkConfiguration`. Almost all `java.time.**` classes are immutable or at least effectively immutable, so they can be included in `JdkConfiguration`.

[2020-02-26 14:36] remal commented on #159
At least these types can be considered immutable:
- `java.time.Duration`
- `java.time.Instant`
- `java.time.LocalDate`
- `java.time.LocalDateTime`
- `java.time.LocalTime`
- `java.time.OffsetDateTime`
- `java.time.OffsetTime`
- `java.time.Period`
- `java.time.Year`
- `java.time.YearMonth`
- `java.time.ZoneId`
- `java.time.ZoneOffset`
- `java.time.ZonedDateTime`
- `java.time.format.DateTimeFormatter

[2020-02-26 17:45] Grundlefleck commented on #159
Hey @remal thanks for raising. Any interest in contributing or do you just want to see it get done?

[2020-02-26 20:01] remal commented on #159
@Grundlefleck Due to personal reasons I'll be able to contribute only at the end of March. So I'll be happy if someone do it.

If you need some help here, I'll see how I can help closer to the end of March.

[2020-02-26 23:05] Grundlefleck commented on #159
No problem at all, and no need to explain. I'll make it available for any
newcomers who may wish to contribute and if nobody takes it up I'll do it
shortly.

Thanks for raising.

On Wed, 26 Feb 2020, 20:01 Semyon Levin, <notifications@github.com> wrote:

[2020-03-06 16:09] hexmind opened #160 "Configurations.JDK_CONFIGURATION is ignored: String is actually NOT_IMMUTABLE"
[code]
Despite of `hardcoding analysis results` I get below error.

MutabilityDetector 0.10.3
openjdk 13.0.1
[code]

[2020-03-07 13:31] Grundlefleck commented on #160
Hi @hexmind, thanks for getting in touch,

The behaviour you're seeing is actually by design, and described in the [documentation](https://javadoc.io/static/org.mutabilitydetector/MutabilityDetector/0.10.3/org/mutabilitydetector/unittesting/MutabilityAssert.html#TestHardcodedDirectly).

Hardcoding results is designed for preventing false positives when _using_ an immutable class, e.g. as a field,

[2020-03-07 13:38] Grundlefleck commented on #160
Btw, if you want to override this behaviour, so that direct assertions use the hardcoded results, you can: https://javadoc.io/static/org.mutabilitydetector/MutabilityDetector/0.10.3/org/mutabilitydetector/ConfigurationBuilder.html#setHowToUseHardcodedResults-org.mutabilitydetector.config.HardcodedResultsUsage-

[2020-03-08 10:16] hexmind commented on #160
Great, thank you for a detailed answer.
I thought I read a documentation but I miss `Testing Hardcoded Classes Directly` part. Now I understand that by default even hardcoded results are valid only in indirect way.

My test was changed to this one:
[code]

In case of immutable string wrapper additional configuration isn't needed.

[2020-03-08 10:16] #160 closed

[2020-03-08 20:55] Grundlefleck commented on #160
@hexmind no problem, thanks for reporting. It also gives me a feel for where documentation / configuration is not obvious, which is helpful.

Out of curiosity, why are you testing immutability of `String.class`? Was it just to represent your issue more succinctly, or is that providing value in another way?

[2020-03-09 20:01] hexmind commented on #160
I am just experimenting with immutability topic and related tools.

[2020-03-10 19:05] Grundlefleck commented on #160
Cool, thanks.

[2020-03-16 12:51] bharatbhasin commented on #159
Created a pull request for it: https://github.com/MutabilityDetector/MutabilityDetector/pull/164

[2020-04-08 21:35] Grundlefleck commented on #159
Fixed thanks to @bharatbhasin.

[2020-04-08 21:35] #159 closed

[2020-04-08 21:38] Grundlefleck opened #169 "Support List.of et al as creating immutable collections"
Java 11 (I think) introduced List.of() methods that return immutable collections. Mutability Detector should understand that calls to this method will produce an immutable collection, so that if they are assigned to a field of type List, it's not considered mutable.

List.of happens to be the only one I mentioned, there is also, at least Set.of, I'm not sure if there are others in JDK11. We should

[2020-05-28 17:18] fma1 commented on #169
Hello. I would like to work on this as formal verification of correctness is of high interest to me.

Hmm, I suppose I am still trying to figure out how the library exactly works. I was looking at the `assertImmutable()` method and have gotten to `AllChecksRunner` which seems to run a bunch of mutability checkers. So it seems I would need to write a new class that extends `AsmMutabilityChecker`.

[2020-05-30 15:52] Grundlefleck commented on #169
Hi @fma1 and thanks for your interest.

For this issue in particular, I was expecting to look into `JdkConfiguration` and add hardcoded definitions that declare e.g. List.of produces an immutable container type.

I wasn't expecting formal verification of correctness, as I'd expect that's really difficult, but I'd be keen to hear more if you have ideas on how to achieve that.

[2020-06-01 16:21] fma1 commented on #169
Hi @Grundlefleck. I suppose I misspoke. What I meant is this sort of project really interests me. Actual formal verification of correctness generally involves dealing with the Abstract Syntax Tree, which is something that Lombok does. From what you said, it seems like this issue is simpler than I thought. I'll try to start working on this later today so hopefully I should be able to raise a PR soo

[2020-07-07 20:45] Grundlefleck commented on #169
Fixed with #175

[2020-07-07 20:45] #169 closed

[2020-08-26 14:47] thjaeckle commented on #169
This is not yet released, is it?

[2020-08-27 18:28] Grundlefleck commented on #169
Aw jeez, no, I went and forgot that part.

Just pushed 0.10.4, it should land in Maven central within the next few hours. Thanks for the reminder @thjaeckle !

[2020-08-27 18:38] Grundlefleck commented on #159
https://twitter.com/Grundlefleck/status/1299053448969818112

[2020-08-27 18:39] Grundlefleck commented on #169
https://twitter.com/Grundlefleck/status/1299053448969818112

I'd have credited you if I knew your Twitter handle @fma1. Thanks again.

[2020-08-28 19:46] fma1 commented on #169
You're welcome. My twitter handle is FredMa7153 but it's perfectly fine that you didn't mention it. I don't use Twitter that actively although I've been looking to change that.

[2020-10-15 20:16] ShreyasKudari commented on #44
Is this issue still open? If yes I'd like to start looking into this! Please let me know.

[2020-10-16 11:23] Grundlefleck commented on #44
@ShreyasKudari yes, still open. We don't have this functionality yet and I still believe it would be a fantastic feature.

Let me know how I can help you get started. Feel free to issue small pull requests / fixes to get into the flow of committing. You don't have to have everything finished and perfect before contributing. I'd actually encourage the opposite, small, iterative improvements if you

[2020-10-17 01:46] ShreyasKudari commented on #44
Got it. I will study this over the weekend and update you if I need something clarified.

[2021-02-24 22:45] erikhofer commented on #44
What do you think about integrating with ArchUnit? I think it would be way more flexible and you don't have to worry about classpath scanning.

[2021-02-26 09:42] Grundlefleck commented on #44
ArchUnit looks great! I wonder if Mutability Detector should wrap it, or
just make sure we can be used with it...

Are you affiliated to ArchUnit in any way, can you say more about how we
could integrate with it?

On Wed, 24 Feb 2021, 22:45 Erik Hofer, <notifications@github.com> wrote:

[2021-02-26 11:08] erikhofer commented on #44
@Grundlefleck I'm neither affiliated nor an expert. I think you should not wrap it but provide an `ArchRule` so that users of ArchUnit can simply include it. Take a look here: https://github.com/TNG/ArchUnit/blob/main/archunit/src/main/java/com/tngtech/archunit/library/GeneralCodingRules.java

Probably would look something like
[code]
where `BE_IMMUTABLE` is a custom `ArchCondition` that wraps Mut

[2021-05-23 01:52] l0s opened #181 "IllegalArgumentException when using Java 16 and higher"
The library currently cannot be used with Java 16.

When running the `ClientOfMutabilityDetector` tests with Java 16 (library built locally with 1.8), it produces the following results:

    Tests run: 172, Failures: 0, Errors: 26, Skipped: 1

_One_ of the failures includes this message:

    Caused by: java.lang.IllegalArgumentException: Unsupported class file major version 60

This is the build

[2021-10-03 00:56] l0s commented on #181
This fails with Java 17 as well.

When running the `ClientOfMutabilityDetector` tests with Java 17 (library built locally with 11), it produces the following results:

    Tests run: 172, Failures: 0, Errors: 26, Skipped: 1

_One_ of the failures includes this message:

    Caused by: java.lang.IllegalArgumentException: Unsupported class file major version 61
    	at org.mutabilitydetector.interna

[2021-12-07 21:19] codeleverage opened #183 "Hard-coded immutable container types ignored for nested generics"
Tested with `v0.10.4`

I ran into this using custom hard-coded container types, but can reproduce with Guava types that should be covered by `OUT_OF_THE_BOX_CONFIGURATION`.

The following fails with error:

[code]

Using either `ImmutableSet<LocalDateTime>` or `Range<LocalDateTime>` for the field type works fine.

[2022-01-18 07:58] thjaeckle opened #184 "Alternative to MutabilityDetector?"
Does someone know an active alternative (e.g. working with Java 17) to this project?
As this project seems to be inactive (PRs are no longer merged, no releases done) I am searching for options ..

[2022-01-18 08:50] jokraehe opened #185 "Support for Java 17"
Hi @Grundlefleck,

any chances you want to merge #182? We want to upgrade to Java 17 and MutabilityDetector ist not working for us anymore.

[code]

[2022-01-18 08:52] jokraehe commented on #185
This seems to be the same issue as described in #181

[2022-01-26 14:12] Grundlefleck commented on #184
@thjaeckle Mutability Detector isn't in full, active development mode as I've personally switched ecosystems and there are no other core maintainers. I will still merge PRs and coach anyone who is interested in contributing features or fixes.

However, I do aim to keep it working for current versions of Java. I'll get a release cut that support Java 17 soon.

[2022-01-26 14:14] Grundlefleck commented on #183
@codeleverage I'll take a look.

[2022-01-26 14:16] Grundlefleck commented on #184
I should also say, I failed in the intention to continue to support PRs. I didn't get the notification, and traffic is so low, I didn't notice the difference between "no activity" and "my github email filter rules are messed up" :blush:

[2022-01-26 14:19] Grundlefleck commented on #181
Apologies, I missed the notification of this. I aim to cut a new release soon (most likely using your PR).

[2022-01-26 21:21] Grundlefleck commented on #183
This one is odd. Given your example, I wouldn't have expected this to pass, but it does:

[code]

I'm puzzled.

[2022-01-26 21:23] Grundlefleck commented on #183
This is a bit of a stream-of-consciousness, but I understand better now. If I change the above class to the following, it fails as expected, which supports your nested generics suspicion:

[code]

[2022-01-26 21:23] mcusack-nbcuni commented on #181
Why is this closed before the fix? We can't use this library right now with Java 16+.

[2022-01-26 21:24] Grundlefleck commented on #185
I've merged #181 which should add support. I've run out of time this evening to cut the release, but progress is being made.

[2022-01-26 21:24] MikeJCusack commented on #181
Why is this closed before the fix? We can't use this library right now for Java 16+.

[2022-01-26 21:45] MikeJCusack commented on #181
Also confused because @l0s mentioned here that his PR isn't resolving it for Java 17 (current LTS).

[2022-01-26 23:05] Grundlefleck commented on #181
@MikeJCusack it was GitHub being "helpful". Because the PR used a keyword that implied merging would fix this issue, it got closed automatically:

![image](https://user-images.githubusercontent.com/461739/151260993-22b31e0c-2e3f-4df0-b254-f63ac7d4e2fe.png)
(note the "Resolves #xxx" which is described in [GitHub docs](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-r

[2022-01-30 10:10] Grundlefleck commented on #185
@jokraehe  0.10.6 has just landed in Maven Central. Please try it out and let me know if it fixes the issue.

[2022-01-30 10:11] Grundlefleck commented on #184
@thjaeckle 0.10.6 has landed in Maven Central, with support for Java 17,

[2022-01-30 10:15] Grundlefleck commented on #181
@l0s @MikeJCusack

0.10.6 has landed in Maven Central, with support up to Java 17. Please take it for a spin and confirm here that it solves your issue.

[2022-01-31 01:21] l0s commented on #181
I can confirm this solves the issue. Thanks @Grundlefleck!

[2022-02-08 12:59] jokraehe commented on #185
Version 0.10.6 works fine with Java 17. Thank you very much!

[2022-02-08 12:59] #185 closed

[2022-02-08 17:48] Grundlefleck commented on #184
@thjaeckle are you still seeking alternatives? I'm happy to keep this issue open as a way to find and discuss a more active successor in this space.

(I will also tell you that, to my knowledge, even with its distracted core maintainer, there's nothing better out there :laughing: )

[2022-02-08 19:32] thjaeckle commented on #184
@Grundlefleck no, I'm glad that the Java 17 support was a quite low hanging fruit and thankful that you released and published a new version 👍

No offense, I think it's great that you still have a look on the project even though you don't work any longer with Java.
Somehow immutability still is not that popular within Java, maybe Java records will improve that over time. 🤔

[2022-02-08 19:33] #184 closed

[2022-02-08 21:41] #181 closed

[2022-02-12 22:29] phenix23 opened #186 "Testing Muuability of Record class in Java 17"
Hello ,
I tried to use MobilityDetector to test mutability of Record class in Java 17 :
` assertImmutable(ExampleRecord.class)`
I have this expcetion :

[code]

[2022-05-24 11:16] meowpunch commented on #185
Did it really work with `record class` as well? Even though using with 0.10.6, I got same error message.

[2022-05-24 11:24] meowpunch commented on #186
Same as well... Idk what `Record requires ASM8` means :(

[2022-05-26 15:18] stawirej commented on #186
I have the same error for java records. Any update when it could be fixed?

[2022-09-22 10:46] l0rinc opened #189 "Reduce deliverable size by keeping Guava only as a test dependency"
Most probably use this library in their tests, where additional dependencies probably don't matter that much.
I want to use it for production, where transitive dependencies should be minimized.
One of the bigger dependencies of the lib is Guava ([~3 MB](https://mvnrepository.com/artifact/com.google.guava/guava/31.1-jre)) and most of the production uses (~70, we could leave it for tests) could easi

[2022-09-23 09:23] paplorinc opened #190 "Update ASM and other dependencies for JDK 19 compatibility"
Currently JDK  18 & 19 gives: `Unsupported class file major version 62` & `63`.
Updating ASM fixes the issue.

[2022-09-23 09:35] paplorinc opened #191 "Extend functionality to verify method purity checks"
An immutable class already implies that its methods are [pure](https://en.wikipedia.org/wiki/Pure_function), but sometimes we're only interested in the purity of a single method of an otherwise mutable class.

Basically we would need to check that for the same params (fields?) the return value is the same.
We should allow reads of immutable class state, but not of mutable ones (unless configured e

[2022-10-03 08:17] paplorinc opened #192 "StackOverflowError in MutableTypeToFieldChecker"
Steps to reproduce:
Add https://mvnrepository.com/artifact/org.junit.jupiter/junit-jupiter-params/5.9.1 dependency and run the following test:
[code]
you'll get:
[code]

I'm using JDK `11.0.16.1` and MutabilityDetector `0 .10.6`

[2022-10-03 09:22] paplorinc opened #193 "Add `java.lang.Math` to `JdkConfiguration` whitelist"

[2022-10-03 12:43] paplorinc opened #194 "`StringBuilder` shouldn't be marked as IMMUTABLE"
`StringBuilder` is definitely NOT immutable, but most of the mutations seem to happen in the parent, in `AbstractStringBuilder` which don't seem to be considered:

[code]
results in
[code]

[2022-10-03 13:17] l0rinc opened #195 "`java.util.Arrays` shouldn't be marked as `IMMUTABLE`"
Similarly to

`java.util.Arrays#sort(int[])` modifies the state of the parameters, therefore the method isn't pure, hence it's confusing to call the otherwise stateless class as `IMMUTABLE`.

[code]
results in
[code]